apiVersion: v1
kind: ConfigMap
metadata:
  name: obsidian-livesync-config
  namespace: obsidian-livesync
data:
  livesync.ini: |
    [chttpd]
    require_valid_user = true
    enable_cors = true
    max_http_request_size = 4294967296
    bind_address = 0.0.0.0

    [chttpd_auth]
    require_valid_user = true

    [httpd]
    WWW-Authenticate = Basic realm="couchdb"
    enable_cors = true

    [couchdb]
    max_document_size = 50000000
    single_node = true

    [cors]
    credentials = true
    origins = app://obsidian.md,capacitor://localhost,http://localhost
