# Values for Infisical (Simple Deployment)
infisical-standalone:
  infisical:
    replicaCount: 1
    kubeSecretRef: "infisical-secrets"
    image:
      tag: "v0.155.1"
    service:
      type: ClusterIP
    
  ingress:
    enabled: true
    ingressClassName: nginx
    hostName: infisical.buildin.group
    annotations:
      nginx.ingress.kubernetes.io/proxy-body-size: "100m"
      gethomepage.dev/enabled: "true"
      gethomepage.dev/name: "Infisical"
      gethomepage.dev/description: "Secret Management Platform"
      gethomepage.dev/icon: "infisical.png"
      gethomepage.dev/group: "Security"
      gethomepage.dev/weight: "10"
    
  postgresql:
    enabled: true
    auth:
      username: infisical
      password: root
      database: infisicalDB
    primary:
      persistence:
        size: 1Gi

  redis:
    enabled: true
    auth:
      password: "mysecretpassword"
    master:
      persistence:
        size: 1Gi
